.bestsellers {
    padding: 110px 0px 0px 0px;
    @include introduce (100px, 50px,$bl-darck,$bl-light);

    .content-wrapper {
        z-index: 1;
        margin: auto;
        width: 85.71%;
        display: flex;
        padding: 0px 15px;
        position: relative;
        justify-content: space-between;

        .offer {
            &-item {
                flex-grow: 1;
                display: flex;
                padding: 0px 15px;
                text-align: center;
                flex-direction: column;

                .order-now {
                    padding: 12px 0px;
                    outline: none;
                    border: none;
                    margin: 20px;
                    background: $bl-darck;
                    @include font-style($raleway-r, 18px, $w, uppercase);
                };
            };
            &-title {
                background: $bl-darck;
                margin: 0px;
                padding: 15px 0px;
                @include font-style($raleway-m, 20px, $w, uppercase);
            };
            &-price {
                margin: 0px;
                padding: 20px 0px;
                @include font-style($lato-bl, 50px, $bl-darck, uppercase);

                .time {
                    margin-left: 8px;
                    @include font-style($lato-r, 16px, $bl-darck);
                };
            };
            &-datasheet {
                list-style: none;
                padding: 0px;
                @include font-style($lato-r, 16px, $bl-darck, uppercase);
                .text {
                    padding: 20px 0px;
                };
            };
           

        };
    
    };
};