.social-media {
    display: flex;
    position: relative;
    padding: 100px 0px;
    flex-direction: column;
    &:hover{
        .background-img {
            filter: brightness(30%);
        };
    };

    @media (max-width: 575.98px) { 
        padding: 50px 0px;
    };
    @media (min-width: 576px) and (max-width: 767.98px)  {
        padding: 50px 0px;
    };
    
    .background-img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        top: 0px;
    };
    .content-wrapper {
        z-index: 1;
        margin: auto;
        display: flex;
        width: 81.42%;
        padding: 0px 15px;
        justify-content: space-around;
    }
    .title {
        z-index: 1;
        text-align: center;
        margin-bottom: 50px;
      
        @include font-style($raleway-bo, 30px, $w);
        .colored {
            color:$hover-red;
        };
        @media (max-width: 575.98px) { 
            margin-bottom: 20px;
            @include font-style($raleway-bo, 25px, $w);
        };
        @media (min-width: 576px) and (max-width: 767.98px)  {
            margin-bottom: 20px;
            @include font-style($raleway-bo, 25px, $w);
        };
        @media (min-width: 768px) and (max-width: 991.98px) {
            margin-bottom: 30px;
            @include font-style($raleway-bo, 30px, $w);
        };
    };

    .links {
        display: flex;
        
        .link {
            display: flex;
            cursor: pointer;
            align-items: center;
            flex-direction: column;
            @media (max-width: 575.98px) {
               margin-bottom: 20px;
            };
            @media (min-width: 576px) and (max-width: 767.98px)  {
                margin-bottom: 30px;
            };
            
            
            @include hexagon(75px,75px,transparent, 0px);
            .hexagon {
                text-align: center;
                border-top:1px solid $hover-red;
                border-bottom:1px solid $hover-red;

                &::after {
                    border-top:1px solid $hover-red;
                    border-bottom:1px solid $hover-red;
                };
                &::before {
                    border-top:1px solid $hover-red;
                    border-bottom:1px solid $hover-red;
                };

                .simbol {
                    color: $hover-red;
                    font-size: 20px;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            };
            @media (max-width: 575.98px) {
                @include hexagon(45px,45px,transparent, 0px);
                .hexagon {
                    text-align: center;
                    border-top:1px solid $hover-red;
                    border-bottom:1px solid $hover-red;
    
                    &::after {
                        border-top:1px solid $hover-red;
                        border-bottom:1px solid $hover-red;
                    };
                    &::before {
                        border-top:1px solid $hover-red;
                        border-bottom:1px solid $hover-red;
                    };
    
                    .simbol {
                        color: $hover-red;
                        font-size: 20px;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                };
            };

            &:hover {
                .hexagon {
                    background: $hover-red;
                };
                .simbol {
                    color: $w;
                }
            };

            .info {
                margin-top: 40px;
                @include font-style ($lato-r,16px,$w);
                @media (max-width: 575.98px) {
                    margin-top: 10px;
                    @include font-style ($lato-r,15px,$w);
                };
                @media (min-width: 576px) and (max-width: 767.98px) {
                    margin-top: 10px;
                    @include font-style ($lato-r,15px,$w);
                };
                @media (min-width: 768px) and (max-width: 991.98px) {
                    margin-top: 25px;
                    @include font-style ($lato-r,16px,$w);
                };
            }
            
        };
    };
    @include scroll-bar (20px, 20px, $hover-red, absolute, 0,-11px);
    @media (max-width: 575.98px) { 
        @include scroll-bar (20px, 20px, $hover-red, absolute, 0,-11px,50%);
    };
    @media (min-width: 576px) and (max-width: 767.98px) {
        @include scroll-bar (20px, 20px, $hover-red, absolute, 0,-11px,30%);
    };
};