.header {
    top: 0px;
    width: 100%;
    z-index: 900;
    opacity: 0.7;
    position: fixed;
    box-sizing: border-box;
    background-color: #000000;
    padding: 0px 107px 0px 115px;
    border-top: 3px solid #7f7f7f;
    &:hover { 
        opacity:1; 
    };
    @media (min-width: 992px) and (max-width: 1200px){
        padding: 0px 50px 0px 40px;
    };
    @media (min-width: 768px) and (max-width: 992px) {
        padding: 0px 30px 0px 30px;
    };
    @media (min-width: 576px) and (max-width: 768px) {
        padding: 0px 30px 0px 30px;
    };
    @media (max-width: 576px) {
        padding: 0px 10px;
    };
    &.scroll {
        overflow: scroll;
    };
    .menu {
        position: relative;

        &--logo {
           top:-3px;
           position: absolute;
           
           .logo {
               width: 100%;
               @media (max-width: 576px) {
                    width: 80%;
                };
            };
        };

        &--navigation {
           display: flex;
           padding-left: 341px;
           justify-content: space-between;
           transition: all .6s;
            @media (min-width: 992px) and (max-width: 1200px) {
                height: 100%;
                padding-left: 270px;
                align-items: flex-end;
                flex-direction: column;
            };
            @media (min-width: 768px) and (max-width: 992px) {
                height: 100%;
                padding-left: 251px;
            };
            @media (min-width: 576px) and (max-width: 768px) {
                height: 100%;
                padding-left: 251px;
            }
            @media (max-width: 576px) {
                height: 100%;
                padding-left: 45px;
            };
            
           
            .collapce {
                width: 100%;
                height: 100%;
                position: relative;
                transition: all .6s;

                @media (min-width: 768px) and (max-width: 992px) {
                    visibility: hidden;
                    height: 0px;
                    overflow: visible;
                };
                @media (min-width: 576px) and (max-width: 768px) {
                    visibility: hidden;
                    height: 0px;
                }
                @media (max-width: 576px) {
                    height: 0px;
                    visibility: hidden;
                };
                &.show {
                    width: 100%;
                    height:100vh;
                    display: flex;
                    overflow:visible;
                    transition: all .6s;
                    align-items: center;
                    visibility: visible;
                    @media (max-width: 575.98px) {
                        height:100vh;
                    };
                };
                .links {
                    margin: 0px;
                    width: 100%;
                    padding: 0px;
                    display: flex;
                    transition: all .6s;
                    justify-content: space-around;
                    @media (min-width: 768px) and (max-width: 992px) {
                        top: 0px;
                        height: 0px;
                        padding: 0px;
                        overflow: hidden;
                        position: absolute;
                        align-items: center;
                        flex-direction: column;
                    };
                    @media (min-width: 576px) and (max-width: 768px) {
                        top: 0px;
                        height: 0px;
                        overflow: hidden;
                        position: absolute;
                        align-items: center;  
                        flex-direction: column;
                    }
                    @media (max-width: 576px) {
                        top: 0px;
                        height: 0px;
                        margin-top: 0px;
                        overflow: hidden;
                        position: absolute;
                        align-items: center; 
                        flex-direction: column;
                    };
                    &.show {
                        width: 100%;
                        height:100%;
                        display: flex;
                        overflow: visible;
                        transition: all .6s;
                        
                        @media (min-width: 576px) and (max-width: 768px) {
                            padding: 10px;
                        };
                        @media (min-width: 450px) and (max-width: 574px) {
                            padding-top: 25%;
                        };
                        @media (max-width: 449px) {
                            padding-top: 39%;
                        };
                    };

                    &--item {
                       display: flex;
                       position: relative;
                       align-items: center;
                       flex-direction: column;
                       justify-content: space-around;

                        
                        .item {
                            margin: 26px 0px;
                            text-align: center;
                            text-decoration: none;
                            @include font-style($raleway-r, 18px, $gray, uppercase);
                            @media (min-width: 992px) and (max-width: 1200px) {
                                @include font-style($raleway-r, 16px, $gray, uppercase);
                            };
                            @media (min-width: 768px) and (max-width: 992px) {
                                margin: 15px 0px;
                            };
                            @media (min-width: 576px) and (max-width: 768px) {
                                margin: 10px 0px;
                            }
                            @media (max-width: 575.98px) {
                                margin: 15px 0px;
                            };
                        };
    
                        &::before {
                            top:-3px;
                            height: 3px;
                            content: '';
                            width: 38.8%;
                            position: absolute;
                            background-color: transparent;
                            @media  (max-width: 991.98px) {
                                top:0px;
                            };
                        };
                        &::after {   
                            bottom:0px;
                            height: 2px;
                            content: '';
                            width: 38.8%;
                            position: absolute;
                            background-color: transparent;
                        };
                        &:hover {
                            .item {
                                color: $w;
                                background: transparent;
                            }
                          
                            &::before, &::after {
                                background-color: $hover-red;
                            };
                        };
                    };
                };
            };
            
           
            .icon {
               width: 45px;
               display: none;
               transition: all .6s;
               flex-direction: column;
               justify-content: center;
               @media (max-width: 992px)  {
                    display: flex;
                    height: 45px;
                };
                .bar {
                   height: 5px;
                   width: 100%;
                   background: $w;
                   margin: 5px 0px;
                   transition: all .4s;
                };
                
                &.changed {
                    .bar1 {
                        transform: rotate(-45deg) translate(-10px,9px);
                    };
                    .bar2 {
                        opacity: 0;
                    };
                    .bar3 {
                        transform: rotate(45deg) translate(-11px,-12px);
                    };
                };
            };
        };
    };
};