.about-us {
    display: flex;
    padding:100px 0px 98px 0px;
    align-items: center;
    flex-direction: column;
    @include introduce (102px, 50px, $b, $b);
    @media (min-width: 992px) and (max-width: 1199px) {
        @include introduce (80px, 50px, $b, $b);
    };
    @media (min-width: 768px) and (max-width: 991px) {
        padding:50px 0px 50px 0px;
        @include introduce (50px, 30px, $b, $b);
    }
    @media (min-width: 576px) and (max-width: 767px) {
        padding:50px 0px 50px 0px;
        @include introduce (50px, 30px, $b, $b);
    }; 
    @media (max-width: 575px) {
        padding:50px 15px 50px 15px;
        @include introduce (5px, 10px, $b, $b);
    };
    
    .content-wrapper {
        display: flex;
        @include content-wrapper();
        @media (max-width: 991px) {
           flex-direction: column;
        };

        .tabs {
            flex: 2;
            display: flex;
            flex-basis: 350px;
            padding: 0px 15px;
            flex-direction: column;
            @media (max-width: 991px) {
                order: 2;
            };

            .text {
                line-height: 1.375;
                text-align: justify;
                margin: 0px 0px 41px 0px;
                @include font-style($lato-r, 16px, $bl-light);
                @media  (max-width: 991px) { 
                    text-align: center;
                };
            };

            .acordion {
                &-card {
                    margin-bottom: 10px;
                };
                &-title {
                    width: 100%;
                    outline: none;
                    cursor: pointer;
                    transition: 0.4s;
                    text-align: left;
                    border: 1px solid $gray-light;
                    background-color: $super-gray-light;
                    @include font-style($raleway-m,20px,$bl-darck);
                    @media (max-width: 400px) {
                        @include font-style($raleway-m,15px,$bl-darck);
                    };
                    &-icon {
                        font-size: 20px;
                        padding: 13px 15px;
                        margin-right: 30px;
                        border-right: 1px solid $gray-light;
                    };

                    &:hover, &:focus {
                        color:$hover-red;
                    };

                };
                &-content {
                    opacity: 0;
                    max-height: 0px;
                    padding: 0 18px;
                    overflow: hidden;
                    line-height: 1.571;
                    transition: all .5s;
                    text-align: justifyLeft;
                    border: 1px solid $gray-light;
                    @include font-style($lato-r, 14px, $bl-light);

                    &.active {
                        opacity: 1;
                        max-height: 100px;
                        transition: all .5s;
                    };

                };
            };
        };

        .hexagons {
            flex: 2;
            display: flex;
            flex-basis: 350px;
            padding: 0px 15px;
            position: relative;
            align-items: center;
            justify-content: center;
            @media (min-width: 992px) and (max-width: 1199px) { 
                padding: 0px 50px;
            };
            @media (min-width: 768px) and (max-width: 991px) {
                margin: 0px 0px 50px 0px; 
                justify-content: center;
            }
            @media (min-width: 576px) and (max-width: 767px) {
                justify-content: center;
            };
            @media (max-width: 575px) {
                align-content: flex-end;
                flex-shrink: 1;
            };
            &-img-left {
                left: 0;
                position: absolute;
                transition: all 1s;

                @media (min-width: 992px) and (max-width: 1199px) { 
                    width: 65%;
                };
                @media (min-width: 768px) and (max-width: 991px) {
                    height: 70%;
                    left:14.5%;
                };
                @media (min-width: 650px) and (max-width: 767px) {
                    height: 60%;
                    left:10%;
                };
                @media (min-width: 576px) and (max-width: 649px) {
                    height: 60%;
                    left:4.5%;
                };
                @media (min-width: 501px) and (max-width: 575px) {
                    height: 50%;
                    left:16.5%;
                };
                @media (min-width: 401px) and (max-width: 500px) {
                    height: 50%;
                    left:10.5%;
                };
                @media (max-width: 400px) {
                    height: 50%;
                    left:-0.5%;
                };
            };
            &-img-center {
                top:5px;
                left: 50%;
                position: absolute;
                transition: all 1s;
                transform: translateX(-50%);
                @media (max-width: 1199px) { 
                    height: 97%;
                };
                @media (max-width: 575px) {
                    height: 96%;
                };
               
                
            };
            &-img-right {
                right: 0;
                position: absolute;
                transition: all 1s;

                @media (min-width: 992px) and (max-width: 1199px) { 
                    width: 65%;
                };
                @media (min-width: 768px) and (max-width: 991px) {
                    height: 70%;
                    right:14.5%;
                };
                @media (min-width: 650px) and (max-width: 767px) {
                    height: 60%;
                    right:10%;
                };
                @media (min-width: 576px) and (max-width: 649px) {
                    height: 60%;
                    right:4.5%;
                };
                @media (min-width: 501px) and (max-width: 575px) {
                    height: 50%;
                    right:16.5%;
                };
                @media (min-width: 401px) and (max-width: 500px) {
                    height: 50%;
                    right:10.5%;
                };
                @media (max-width: 400px) {
                    height: 50%;
                    right:-0.5%;
                };
            };

            .center-hexagon-wrapper {
                display: flex;
                justify-content: center;
                position: relative;
                transition: all 1s;
                z-index: 890;
                @include hexagon (370px,  370px, $w, 0px);

                @media (min-width: 992px) and (max-width: 1199px) { 
                    @include hexagon (335px,  335px, $w, 0px);
                };
                @media (min-width: 768px) and (max-width: 991px) {
                    @include hexagon (335px,  335px, $w, 0px);
                }
                @media (min-width: 576px) and (max-width: 767px) {
                    @include hexagon (290px,  290px, $w, 0px);
                };
                @media (max-width: 575px) {
                    @include hexagon (200px,  200px, $w, 0px);
                };
            };
        };

       .info {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            @media (min-width: 768px) and (max-width: 991px) {
                justify-content: space-between;
            };
            @media  (max-width: 767px) { 
                justify-content: center; 
            };
            .item {
                flex-grow: 1;
                display: flex;
                cursor: pointer;
                padding: 0px 15px;
                align-items: center;
                text-decoration: none;
                flex-direction: column;
                &:hover {
                    .simbol{color:$w;};
                    @include hexagon(90px,90px,$hover-red,auto);
                    @include hexagon-border(1.4px, solid, $w);
                    @media  (max-width: 991px) {
                        @include hexagon(85px,85px,$hover-red,auto);
                        @include hexagon-border(1.4px, solid, $w);
                    };
                };
                @media (min-width: 992px) {
                    width: 15%;
                    flex-grow: 1;
                };
                @media (min-width: 768px) and (max-width: 991px) {
                   width: 45%; 
                   margin-bottom: 15px;
                };
                @media (min-width: 576px) and (max-width: 767px) { 
                    width: 40%; 
                    margin-bottom: 15px;    
                };
                @media (max-width: 575px) {
                    width: 100%; 
                    margin-bottom: 55px;   
                };
                &-icon {
                    position: relative;
                    margin-bottom:35px;
                    @include hexagon(90px,90px,$w,auto);
                    @include hexagon-border(1.4px, solid, $b);
                    @media  (max-width: 991px) {
                        @include hexagon(85px,85px,$w,auto);
                        @include hexagon-border(1.4px, solid, $b);
                        margin-bottom: 20px;
                    };
                   
                    .simbol {
                        top: 50%;
                        left:51%;
                        color: $b;
                        z-index: 1;
                        font-size: 30px;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    };
                };
                &-title {
                    @include font-style ($raleway-m,20px);
                    margin:0px 0px 28px 0px;
                    @media (min-width: 768px) and (max-width: 991px) {
                        margin:0px 0px 18px 0px;
                    };
                    @media (min-width: 576px) and (max-width: 767px) { 
                        margin:0px 0px 15px 0px;
                    };
                    @media (max-width: 575px) {
                        @include font-style ($raleway-m,16px);
                        margin:0px 0px 10px 0px;  
                    };
                };
                &-text {
                    @include font-style ($lato-r,16px,$bl-light);
                    line-height: 1.375;
                    text-align: center; 
                    @media (min-width: 768px) and (max-width: 991px) {
                        margin:0px 0px 18px 0px;
                    };  
                    @media (min-width: 576px) and (max-width: 767px) { 
                        margin:0px 0px 15px 0px;
                    };
                    @media (max-width: 575px) {
                        @include font-style ($lato-r,15px,$bl-light);
                        margin:0px 0px 10px 0px;  
                    };
                };
            };
        };
    };
    .scrollbar-wrapper {
        width: 100%;
        display: flex;
        margin: 95px 0px;
        position: relative;
        align-items: center;
        justify-content: center;
        @include scroll-bar (20px, 20px, $b, absolute, 0,0px);

        @media (max-width: 575px) { 
            @include scroll-bar (20px, 20px, $b, absolute, 0,0px,50%);
        };
        @media (min-width: 576px) and (max-width: 767px) {
            @include scroll-bar (20px, 20px, $b, absolute, 0,0px,30%);
        };
    };
};