.contact-us {
    position: relative;
    padding-top: 110px;
    .introduce {
        padding: 0px 15px;
    };
    @include introduce(97px, 50px, $b, $b);
   
    @media  (max-width: 991px) { 
        padding-top: 50px;
        @include media-introduce();
    };
    .map-wrapper {
        position: relative;
        bottom: -4px;
        @media (max-width: 575px) { 
           display: flex;
           order: 1;
           flex-direction: column;
        };
        @media (min-width: 576px) and (max-width: 767px) {
            display: flex;
            flex-direction: column;
        };
        
        

        .talk-buble-wrapper {
            transform: translate(-20%, -10%);
            position: absolute;
            bottom: 10%;
            z-index: 1;
            left:20%;
            @include font-style($lato-r, 16px, $w);
            @media (max-width: 575px) { 
                transform: translate(-20%, -50%);        
                bottom: 50%;
                font-size: 15px;
            };
            @media (min-width: 576px) and (max-width: 767px) {
                transform: translate(-20%, -50%);        
                bottom: 50%;
                font-size: 15px;
            };
            @media (min-width: 768px) and (max-width: 991px) {
                transform: translate(-10%, -20%);        
                bottom: 20%;
                left:10%;
                font-size: 16px;
            }
            .talk-buble {
                padding: 35px 45px 47px 25px;
                width: 300px;
                background: $bl-bg;
                position: relative;
                list-style-type: none; 
                @media (max-width: 575px) { 
                    padding: 16px 15px 17px 15px;
                    width: 220px;
                };
                @media (min-width: 576px) and (max-width: 767px) {
                    padding: 16px 15px 17px 15px;
                    width: 220px;
                };
                &:before {
                    content: "";
                    color:$w;
                    position: absolute;
                    right: 14px;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-top: 14px solid transparent;
                    border-right: 56px solid $bl-bg;
                    border-bottom: 14px solid transparent;
                    transform: rotate(-57deg);
                };
                &-text {
                    color: $w;
                    margin-bottom: 12px;
                    &:last-child{
                        margin: 0px;
                    };
                };
            };
        };
    
        .message {
            transform: translateX(-4%);
            padding: 50px 45px 47px 44px;
            border: 1px solid $gray-light;
            background:$w;
            box-shadow: $gray-light;
            position: absolute;
            right: 4%;
            bottom: 4px;
            width: 33.5%;
            margin: 0px;
            z-index: 1;
            display: flex;
            flex-direction: column;

            @media (max-width: 575px) { 
                position: relative;
                order: 2;
                right: 0px;
                width: 80%;
                margin: 20px auto;
                transform: translateX(0%);
                padding:20px 15px 20px 15px;
               
            };
            @media (min-width: 576px) and (max-width: 767px) {
                position: relative;
                order: 2;
                right: 0px;
                width: 80%;
                margin: 20px auto;
                transform: translateX(0%);
                padding:20px 15px 20px 15px;  
            };
            @media (min-width: 768px) and (max-width: 991px) {
                right: 3%;
                bottom: 4px;
                width: 33.5%;
                padding: 20px;
            };
            @media (min-width: 922px) and (max-width: 1199px) {
                right: 3%;
                bottom: 4px;
                width: 33.5%;
                padding: 20px;
            };
            
            &-title {
                @include font-style($raleway-m, 20px, $b, uppercase);
                margin-bottom: 50px;
            };
            &-form {
                display: flex;
                flex-direction: column;

                .form-control {
                    margin-bottom: 17px;
                    outline: none;
                    border: 1px solid $gray-light;
                    padding: 11px;
                    @include font-style($lato-r, 16px, $bl-light, capitalize);
                    &:focus {
                        box-shadow: 0 0 0 0.1rem $gray-light;
                        border-color: $gray-light;
                    };
                };
                .btn {
                    @include font-style($lato-r, 16px, $w, uppercase);
                    background: $bl-bg;
                    border: none;
                    outline: none;
                    padding: 12px 30px;
                    align-self: flex-end;
                    @media (max-width: 991px) { 
                        width: 100%;
                    };
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border-color:transparent;
                    };
                };
            };
           
            
        };

        
    };
   
    .map-wrapper {
        width: 100%;
        z-index: 0;
        .goggle-map {
            width: 100%;
        };
    };
};

   





