.last-tweets {
    position: relative;
    background-size: cover;
    padding: 100px 0px 0px 0px ; 
    background: url("../img/last-tweets-bg.png"), no-repeat;
    .tweets {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include content-wrapper();
        &-icon {
            font-size: 36px;
            color:$hover-red;
            margin-bottom: 25px;
        };

        &-text {
            width: 70%;
            display: flex;
            text-align: center;
            @include font-style($lato-r,16px, $w);
            
        }
    };
    @include scroll-bar (20px, 20px, $hover-red, relative, 70px, -11px);
    @media (max-width: 575px) { 
        @include scroll-bar (20px, 20px, $hover-red, relative, 70px, -11px,50%);
    };
    @media (min-width: 576px) and (max-width: 767px) {
        @include scroll-bar (20px, 20px, $hover-red, relative, 70px, -11px,30%);
    };
};