// Colors
$hover-red:#ff0036;
$gray-darck:#5c5c5c;
$gray:#a4a4a4;
$super-gray-light:#f7f7f7;
$gray-light:#e7e7e7;
$bl-darck:#262626;
$bl-light:#505050;
$btn-darck:#131313;
$b:#000000;
$w:#ffffff;

//Fonts
$lato-bl:'latoblack';
$lato-bo:'latobold';
$lato-l:'latolight';
$lato-r:'latoregular';
$mgope:'mgopen_modataregular';
$raleway-bo: 'ralewaybold';
$raleway-m: 'ralewaymedium';
$raleway-r:'ralewayregular';
$raleway-sb:'ralewaysemibold';
